<header>
  <nav>

    <div class="nav-group">
      <a href="{{ 'manifesto.html' | prepend: site.baseurl }}">Manifesto</a>
      <div class="separator"></div>
      <a href="{{ 'events.html' | prepend: site.baseurl }}">Évenements</a>
    </div>

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="img/logo.png">
    </a>

    <div class="nav-group">
      <a href="{{ 'resources.html' | prepend: site.baseurl }}">Resources</a>
      <div class="separator"></div>
      <a href="{{ 'team.html' | prepend: site.baseurl }}">L'équipe</a>
    </div>

  </nav>
</header>
