<header>
  <nav>

    <div class="nav-group">
      <a href="https://drive.google.com/file/d/0B5QAJ2wPKizPOHluSm5wX2ZOeXc/view?usp=sharing" target="_blank">Plus d'infos</a>
      <div class="separator"></div>
      <a href="https://www.facebook.com/animauxdufutur/">Actus</a>
    </div>

    <a class="site-title" onclick="myFunction()">
      <div class="logo">
        <img src="img/logo.svg">
      </div>
    </a>

    <div class="nav-group" style="display:none;">
      <a href="{{ 'resources.html' | prepend: site.baseurl }}">Ressources</a>
      <div class="separator"></div>
      <a href="{{ 'team.html' | prepend: site.baseurl }}">Équipe</a>
    </div>

  </nav>
</header>
