<header>
  <nav>

    <div class="nav-group" style="display:none;">
      <a href="{{ 'manifesto.html' | prepend: site.baseurl }}">Manifesto</a>
      <div class="separator"></div>
      <a href="{{ 'productions.html' | prepend: site.baseurl }}">Productions</a>
    </div>

    <a class="site-title" href="https://docs.google.com/presentation/d/1sP-XxMwUPbHprwqTY6wcIDvnqYJC6axmkAlkbY7rJMc/edit?usp=sharingite.baseurl" target="_blank">
      <div class="logo">
        <img src="img/logo.svg">
      </div>
    </a>

    <div class="nav-group" style="display:none;">
      <a href="{{ 'resources.html' | prepend: site.baseurl }}">Ressources</a>
      <div class="separator"></div>
      <a href="{{ 'team.html' | prepend: site.baseurl }}">Équipe</a>
    </div>

  </nav>
</header>
