a.site-title:hover p{
  color: black !important;
}
.site-title p {
  margin-bottom: 10px !important;
  color: white !important;
}
header {

  > nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 5em;
    background: white;

    .nav-group {
      flex: 2;
      display: flex;
      align-items: stretch;
      height: 100%;

      > a {
        flex: 1;
        padding: 0 7px;
        @extend .heading;
        letter-spacing: 3px;
        word-break: break-all;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $brand-color;

        &:hover {
          background: $brand-color;
          color: white;
        }
      }

      .separator {
        width: 1px;
        background-color: $brand-color;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .site-title {
      flex: 2;
      position: relative;
      display: block;
      height: 100%;

      .logo {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;

        img {
          max-height: 100px;
        }
      }
    }
  }
}

.aide {
  width: 30px;;
  padding: 7px 7px 7px 15px;
  position: relative;
}
.aide h2 {
  color: black;
}
article.instructions {
  visibility: hidden;
}
.aide:hover article.instructions {
  visibility: visible;
}
.aide:hover {
  background-color: black;
}
.aide:hover h2 {
  color: white;
}
