.home {

  section {
    background: $brand-color;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;

    .legend {
      position: absolute;
      bottom: 2em;
      left: 2em;
      padding: 0.5em 1em;

      @extend .heading;
      background: $brand-color;
      color: white;
    }
  }
}
