.impressum {
  position: absolute;
  top: 0;
  right: 10%;
  padding: 0.2em 0.5em;
  background: transparentize($brand-color, 0.5);
  z-index: 3;

  a {
    @extend .heading;
    color: $text-color;
    padding: 0 1em;
    border-right: 1px solid $text-color;

    &:last-child {
      border-right: none;
    }
  }

  .contact {
    cursor: pointer;

    .hidden {
      display: inline-block;
      width: 0;
      vertical-align: bottom;
      transition: all 1s;
      white-space: nowrap;
      overflow: hidden;
      color: transparentize($text-color, 0.2);
    }

    &:hover, &:active, &:focus {
      .hidden {
        width: 250px;
        padding-left: 1em;
      }
    }
  }
}

header {

  > nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    height: 5em;
    background: white;

    .nav-group {
      flex: 2;
      display: flex;
      align-items: center;

      > a {
        flex: 1;
        margin: 0 7px;

        @extend .heading;
        letter-spacing: 3px;
        word-break: break-all;

        &:hover {
          background: $brand-color;
          color: white;
        }
      }

      .separator {
        height: 1em;
        width: 1px;
        background-color: $brand-color;
      }
    }

    .site-title {
      flex: 2;
      position: relative;
      display: block;
      height: 1em;

      .logo {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;

        img {
          max-height: 100px;
        }
      }
    }
  }
}
