.manifesto {
  article {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color: black;
    padding: 30px;
  }
  p {
    font-size: 17px;
    text-align: justify;
  }
  h2 {
    font-size: 23px;
    text-align: justify;
  }

  .content > div {
    background-size: cover;
    background-position: center;
    padding: 6em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    // TODO add media queries

    @mixin manifesto-bg($i) {
      &:nth-child(#{$i}) {
        background-image: url(../img/manifesto/#{$i}.jpg)
      }
    }

    @for $i from 1 through 4 {
      @include manifesto-bg($i);
    }

    > article {
      background-color: transparentize($brand-color, 0.2);
      padding: 2em;
      text-align: center;
      max-width: 40em;
      margin: 3em 9em;

      &.left {
        align-self: flex-start;
      }

      &.right {
        align-self: flex-end;
      }
    }
  }
}
